<% if @price_per_distance.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @price_per_distance.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: [@mode_of_transport, @price_per_distance]) do |f| %>
  
  <p><%= f.label :min_distance %>  
  <%= f.number_field :min_distance %></p>  
  <p><%= f.label :max_distance %> 
  <%= f.number_field :max_distance %></p>
  <p><%= f.label :price %>  
  <%= f.number_field :price, step: :any %></p>
  <%= f.submit 'Gravar' %>

<% end %>
