<h1>Tabela de <%= PricePerDistance.model_name.human %></h1>

<% if @price_per_distances.any? %>
  <table style="width:70%">
    <tr>
      <th colspan= "2">Intervalo</th>
      <th><%= PricePerDistance.human_attribute_name(:price) %></th>
			<% if current_user.admin? %>
				<th>#</th>
			<% end %>
    </tr>
    <% @price_per_distances.each do |pd| %>
      <tr>
        <td><%= pd.min_distance %>km</td>
        <td><%= pd.max_distance %>km</td>
        <td><%= number_to_currency(pd.price) %></td>
				<% if current_user.admin? %>
          <td><%= link_to 'Editar', edit_mode_of_transport_price_per_distance_url(@mode_of_transport.id, pd.id) %></td>
				<% end %>
      </tr>  
    <% end %>
    <% if current_user.admin? %>
    <tr>
      <th colspan= "4"><%= link_to 'Cadastrar Novo Preço por Distância', new_mode_of_transport_price_per_distance_url(mode_of_transport_id: @mode_of_transport.id)%></th>
    </tr>
  <% end %>
  </table>
<% else %>
  <p>Não existem valores cadastrados.</p>	
	<% if current_user.admin? %>
		<%= link_to 'Cadastrar Novo Preço por Distância', new_mode_of_transport_price_per_distance_url(mode_of_transport_id: @mode_of_transport.id)%>
	<% end %> 
<% end %>      