<h1><%= DeliveryTime.model_name.human %></h1>

<p><%= DeliveryTime.human_attribute_name(:origin)%>: <%= @delivery_time.origin %>km</p>
<p><%= DeliveryTime.human_attribute_name(:destination)%>: <%= @delivery_time.destination %>km</p>
<p><%= DeliveryTime.human_attribute_name(:hours)%>: <%= @delivery_time.hours %> horas</p>

