<% @create_os.send_options.each do |option| %>
  <p><%= ModeOfTransport.model_name.human %>: <%= option.mode_of_transport.name %></p>
  <p><%= DeliveryTime.model_name.human %>: <%= option.mode_of_transport.delivery_times.last.hours %> horas</p>
  <p>Valor Total: <%= number_to_currency(option.mode_of_transport.calcula_taxas) %></p>
  <p><%= Vehicle.model_name.human(count: 1)%>: <%= option.vehicle.description %></p>

<% end %>