<% if @create_os.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @create_os.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<h1><%= CreateOrderOfService.model_name.human %></h1>

<%= form_with(model: @create_os) do |f| %>
  
    <h2>Dados para retirada do produto</h2>
      <p><%= f.label :output_address %>
      <%= f.text_field :output_address %></p>
      <p><%= f.label :output_city %>
      <%= f.text_field :output_city %>
      <%= f.label :output_state %>
      <%= f.text_field :output_state %></p>
      <p><%= f.label :product_code %>
      <%= f.text_field :product_code %></p>
    <h5>Dimensões do produto</h5>
      <p><%= f.label :height %>
      <%= f.number_field :height %>
      <%= f.label :width %>
      <%= f.number_field :width %>
      <%= f.label :depth %>
      <%= f.number_field :depth %></p>
      <p><%= f.label :cargo_weight %>
      <%= f.number_field :cargo_weight %></p>
      <br/>
    <h2>Dados para entrega</h2>
      <p><%= f.label :receiver_name %>
      <%= f.text_field :receiver_name %></p>
      <p><%= f.label :receiver_cpf %>
      <%= f.number_field :receiver_cpf %>
      <%= f.label :receiver_birth %>
      <%= f.date_field :receiver_birth %></p>
      <%= f.label :receiver_address %>
      <%= f.text_field :receiver_address %></p>
      <p><%= f.label :receiver_city %>
      <%= f.text_field :receiver_city %>
      <%= f.label :receiver_state %>
      <%= f.text_field :receiver_state %></p>
      <%= f.submit 'Gravar' %>
  <% end %>