<% def formata_cpf(receiver_cpf) %>
<% cpf_formatado = receiver_cpf[0..2] %>
<% cpf_formatado << '.' %>
<% cpf_formatado << receiver_cpf[3..5] %>
<% cpf_formatado << '.' %>
<% cpf_formatado << receiver_cpf[6..8] %>
<% cpf_formatado << '-' %>
<% cpf_formatado << receiver_cpf[9..10] %>
<% cpf_formatado %>
<% end %>

<h1>Ordem de Serviço</h1>

  <h2><%= CreateOrderOfService.human_attribute_name(:status) %>: <%= CreateOrderOfService.human_attribute_name("status.#{@create_os.status}") %></h2>
  <h2><%= CreateOrderOfService.human_attribute_name(:code) %>: <%= @create_os.code %></h2>

  <h2>Dados para retirada do produto</h2>
    <p><%= CreateOrderOfService.human_attribute_name(:output_address) %>: <%= @create_os.output_address %></p>
    <p><%= CreateOrderOfService.human_attribute_name(:output_city) %>: <%= @create_os.output_city %>
    <%= CreateOrderOfService.human_attribute_name(:output_state) %>: <%= @create_os.output_state %></p>
    <p><%= CreateOrderOfService.human_attribute_name(:product_code) %>: <%= @create_os.product_code %></p>
  <h5>Dimensões do produto</h5>
    <% if @create_os.height?%>
      <p><%= CreateOrderOfService.human_attribute_name(:height) %>: <%= @create_os.height %>cm
    <% end %>
    <% if @create_os.width? %>
      <%= CreateOrderOfService.human_attribute_name(:width) %>: <%= @create_os.width %>cm
    <% end %>
    <% if @create_os.depth? %>
      <%= CreateOrderOfService.human_attribute_name(:depth) %>: <%= @create_os.depth %>cm</p>
    <% end %>
    <p><%= CreateOrderOfService.human_attribute_name(:cargo_weight) %>: <%= @create_os.cargo_weight %>kg</p>
  <h2>Dados para entrega do produto</h2>
    <p><%= CreateOrderOfService.human_attribute_name(:receiver_address) %>: <%= @create_os.receiver_address %></p>
    <p><%= CreateOrderOfService.human_attribute_name(:receiver_city) %>: <%= @create_os.receiver_city %> |
    <%= CreateOrderOfService.human_attribute_name(:receiver_state) %>: <%= @create_os.receiver_state %></p>
    <p><%= CreateOrderOfService.human_attribute_name(:receiver_name) %>: <%= @create_os.receiver_name %></p>
    <p><%= CreateOrderOfService.human_attribute_name(:receiver_cpf) %>: <%= formata_cpf(@create_os.receiver_cpf) %></p>
    <p><%= CreateOrderOfService.human_attribute_name(:receiver_birth) %>: <%= l(@create_os.receiver_birth) %></p>
  <h2>Deslocamento a ser percorrido</h2>
    <p><%= CreateOrderOfService.human_attribute_name(:total_distance) %>: <%= @create_os.total_distance %>km</p>


  <h2>Modalidade e Veículo Selecionados</h2>
  <% if @create_os.send_options.any? %>
    <% @create_os.send_options.each do |option| %>
        <p><%= ModeOfTransport.model_name.human %>: <%= option.mode_of_transport.name %></p>
        <p><%= DeliveryTime.model_name.human %>: <%= option.mode_of_transport.delivery_time(@create_os)%> horas</p>
        <p>Valor Total: <%= number_to_currency(option.mode_of_transport.price_weight(@create_os).to_s.to_d + option.mode_of_transport.price_distance(@create_os).to_s.to_d + option.mode_of_transport.fixed_rate.to_s.to_d) %></p>
        <p><%= Vehicle.model_name.human(count: 1)%>: <%= option.vehicle.description %></p>
        <% if @create_os.pending? %>
          <%= link_to 'Alterar Modalidade', edit_create_order_of_service_send_option_url(@create_os.id, option.id) %>
        <% end %>
      <% end %>
  <% else %>
    <%= link_to 'Adicionar Modalidade e Veículo',  new_create_order_of_service_send_option_url(create_order_of_service_id: @create_os.id) %>
  <% end %>
  <br>
  <br>
  <% if @create_os.pending? %>
    <%= button_to 'Iniciar Ordem de Serviço', initiated_create_order_of_service_url, {method: 'patch'}%>
  <% end %>
  <% if @create_os.initiated? %>
    <%= button_to 'Encerrar Ordem de Serviço', finish_create_order_of_service_url, {method: 'patch'}%>
  <% end %>

<br>
  <% if current_user.admin? %>
    <p><%= link_to 'Editar', edit_create_order_of_service_url(@create_os.id)%></p>
  <% end %>
  <p><%= link_to 'Voltar para lista', create_order_of_services_url %></p>
