<% if @mode_of_transport.errors.any? %>
  <p> Verifique os erros abaixo: </p>
  <ul>
    <% @mode_of_transport.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @mode_of_transport ) do |f| %>
  <%= f.label :name %>  
  <%= f.text_field :name %>
  <%= f.label :min_distance %> (Km)  
  <%= f.number_field :min_distance %>
  <%= f.label :max_distance %> (Km) 
  <%= f.number_field :max_distance %>
  <%= f.label :min_weight %> (Kg)
  <%= f.number_field :min_weight %>
  <%= f.label :max_weight %> (Kg)
  <%= f.number_field :max_weight %>
  <%= f.label :fixed_rate %> (R$)
  <%= f.number_field :fixed_rate %>
  <%= f.submit 'Gravar'%>
<% end %>

<%= link_to 'Voltar', root_url %>