<h1><%= ModeOfTransport.model_name.human(count: @mode_of_transports.count) %></h1>

<% if @mode_of_transports.any? %> 
  <% @mode_of_transports.each do |mt| %>
    <% if mt.activated? %>
      <p><%= link_to mt.name, mt %></p>
    <% else %>
      <p><%= link_to mt.name, mt %> [<%= ModeOfTransport.human_attribute_name("status.disable") %>] </p>
    <% end %>
  <% end %>
<% else %>
  <p>Não existem modalidades cadastradas.</p>
  <% if current_user.admin? %>
    <%= link_to 'Clique aqui para cadastrar a primeira modalidade', new_mode_of_transport_url %>
  <% end %>
<% end %>
