<h1><%=@mode_of_transport.name.upcase%></h1>
<p><%= ModeOfTransport.human_attribute_name(:min_distance) %>: <%= @mode_of_transport.min_distance %>km</p>
<p><%= ModeOfTransport.human_attribute_name(:max_distance) %>: <%= @mode_of_transport.max_distance %>km</p>
<p><%= ModeOfTransport.human_attribute_name(:min_weight) %>: <%= @mode_of_transport.min_weight %>kg</p>
<p><%= ModeOfTransport.human_attribute_name(:max_weight) %>: <%= @mode_of_transport.max_weight %>kg</p>
<p><%= ModeOfTransport.human_attribute_name(:fixed_rate) %>: <%= number_to_currency(@mode_of_transport.fixed_rate) %></p>
<p><%= ModeOfTransport.human_attribute_name(:status) %>: <%= ModeOfTransport.human_attribute_name("status.#{@mode_of_transport.status}") %></p>

<% if @mode_of_transport.disable? %>
  <p><%= button_to 'Ativar Modalidade', activated_mode_of_transport_url, { method: 'patch'} %></p>
<% else %>
  <p><%= button_to 'Desativar Modalidade',  disable_mode_of_transport_url, { method: 'patch'} %></p>
<% end %>

<% if current_user.admin?%>
  <p><%= link_to 'Editar', edit_mode_of_transport_url %></p>
<% end %>

<%= render 'price_by_weights/index' %>
<br>
<br>
<%= render 'price_per_distances/index' %>
<br>
<br>
<%= render 'delivery_times/index' %>

<p><%= link_to 'Voltar', mode_of_transports_url %></p>