<h1>Tabela de <%= PriceByWeight.model_name.human%></h1>

<% if @price_by_weights.any? %>
  <table style="width:70%">
    <tr>
      <th colspan= "2">Intervalo</th>
      <th><%= PriceByWeight.human_attribute_name(:price_per_km)%></th>
      <% if current_user.admin? %>
        <th>#</th>
      <% end %>
    </tr>
    <% @price_by_weights.each do |pw| %>
      <tr>
        <td><%= pw.min_weight %>kg</td>
        <td><%= pw.max_weight %>kg</td>
        <td><%= number_to_currency(pw.price_per_km) %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Editar', edit_mode_of_transport_price_by_weight_url(@mode_of_transport.id, pw.id) %></td>
        <% end %>
      </tr>
      <% end %>
      <% if current_user.admin? %>
        <tr>
          <th colspan= "4"><%= link_to 'Cadastrar Novo Preço por Peso', new_mode_of_transport_price_by_weight_url(mode_of_transport_id: @mode_of_transport.id) %></th>
        </tr>
      <% end %>
  </table>
<% else %>
  <p>Não existem valores cadastrados.</p>
  <% if current_user.admin? %>
    <%= link_to 'Cadastrar Novo Preço por Peso', new_mode_of_transport_price_by_weight_url(mode_of_transport_id: @mode_of_transport.id) %>
  <% end %>
<% end %>