<h1>Tabela de <%= PriceByWeight.model_name.human%></h1>
<br>
<% if @price_by_weights.any? %>
  <table style="width:70%">
    <tr>
      <th colspan= "2">Intervalo</th>
      <th><%= PriceByWeight.human_attribute_name(:price_per_km)%></th>
      <% if current_user.admin? %>
        <th>#</th>
      <% end %>
    </tr>
    <% @price_by_weights.each do |pw| %>
      <tr>
        <td><%= pw.min_weight %>kg</td>
        <td><%= pw.max_weight %>kg</td>
        <td><%= number_to_currency(pw.price_per_km) %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Editar', edit_price_by_weight_url(pw.id) %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>Não existem valores cadastrados.</p>
  <% if current_user.admin? %>
    <%= link_to 'Clique aqui para cadastrar os primeiros valores', new_price_by_weight_url%>
  <% end %>
<% end %>