<p><%= Vehicle.human_attribute_name(:sort) %>: <%= @vehicle.sort %></p>
<p><%= Vehicle.human_attribute_name(:brand) %>: <%= @vehicle.brand %></p>
<p><%= Vehicle.human_attribute_name(:model) %>: <%= @vehicle.model %></p>
<p><%= Vehicle.human_attribute_name(:identification) %>: <%= @vehicle.identification %></p>
<p><%= Vehicle.human_attribute_name(:year_manufacture) %>: <%= @vehicle.year_manufacture %></p>
<p><%= Vehicle.human_attribute_name(:max_load) %>: <%= @vehicle.max_load %>kg</p>

